<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <!--<add name="MyConnectionString" providerName="Mysql.Data.MysqlClient" connectionString="server=173.192.83.98;database=scraping;uid=admin;password=Excel90();pooling=false;default command timeout=99999;" />-->
    <add name="lereta" providerName="Mysql.Data.MysqlClient" connectionString="server=192.168.10.6;database=lereta;uid=root;password=excel90();pooling=false;default command timeout=99999;"/>
    <add name="TitleFlexConnectionString" providerName="Mysql.Data.MysqlClient" connectionString="server=173.192.83.98;database=title_flex;uid=admin;password=Excel90();pooling=false;default command timeout=99999;" />
    <add name="MyConnectionString" providerName="Mysql.Data.MysqlClient" connectionString="server=192.168.10.8;database=scraping;uid=root;password=excel90();pooling=false;default command timeout=99999;"/>
    <add name="BulkMyConnection" providerName="Mysql.Data.MysqlClient" connectionString="server=192.168.10.8;database=scraping;uid=admin;password=Excel90();pooling=false;default command timeout=99999;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1"/>
  </system.web>
  <appSettings>
    <add key="pdfMergePath" value="D:\MergePDF\"/>
    <add key="pdfPlacerTitle" value="D:\Tamil\Temp\"/>
    <add key="error_log" value="C:\\Error_Log\"/>
    <add key="TitleFlexInput" value="D:\\Input\"/>
    <add key="TitleFlexOutput" value="D:\\Output\"/>
    <add key="AutoPdf" value="D:\AutoPdf\"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="Maricopa.aspx"/>
        <add value="Stars.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>